/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
.header #logo {
  background-size: auto;
}
.header #menu-main {
  margin: 0;
  background-color: #373a3e;
}
.header #menu-main .menu-item {
  background-position: center 0;
  background-repeat: no-repeat;
  padding-top: 1em;
  height: 50px;
  width: 17%;
  float: left;
}
.header #menu-main .menu-item:hover,
.header #menu-main .menu-item.current-menu-item {
  background-color: #000;
  height: 55px;
  margin-bottom: -10px;
}
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */

}
.menu ul {
  /* end .menu ul li */

  /* highlight current page */

  /* end current highlighters */

}
.menu ul li {
  /*
				plan your menus and drop-downs wisely.
				*/

}
.menu ul li a {
  /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/

}
/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */

}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
#candidate-slider .slide-title {
  padding-right: 10%;
  padding-left: 10%;
}
#candidate-slider .slide-content {
  padding-right: 10%;
  padding-left: 10%;
}
#candidate-slider .flexslider {
  border-width: 0;
  border-radius: 0;
  border-color: #000;
}
#candidates .candidate {
  padding: 3%;
  margin-bottom: 3%;
}
#candidates .candidate .cand-image {
  width: 100%;
}
